body {
    min-height: 100%;
    padding-top: 70px;
}

.fill {
    min-height: 100%;
}

.footer {
    border-top: 1px solid #e7e7e7;
}

.user-block {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    margin: 0 0 5px 0;
    border-radius: 5px;
}

.update-results-block {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.user-block > div {
    margin: 3px;
}

.user-name {
    padding-left: 0px;
}

.cource-lables {
    padding-bottom: 5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: steelblue;
}

.task_sum_plus {
    text-decoration: none;
    color: #5cb85c;
}

.task_sum_zero {
    text-decoration: none;
    color: #777;
}
